body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --navbar-height: 136px;
  --white: #ffffff;
}


a:hover {
  text-decoration: line-through;
}


/* _____ MAIN SPLASH PAGE ______ */

.main-splash {
  height: 100vh;
  width: 100%;
  margin-top: calc(-1 * var(--navbar-height)) /* The navbar height*/
}

.main-splash-link {
  text-decoration: none;
  color: black;
}

.main-splash-letter {
  position: relative;
  font-size: 4rem;
  font-weight: 800
}

.main-splash-spacer {
  height: 100px
}


/* _____ PROJECT PAGES ______ */

.full-width-image {
  width: 100vw;
}

.small-spacer {
  height: 3rem;
}

.section-header {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.col-image {
  width: 100%;
}

.carousel-indicators {
  bottom: -60px !important
}

.carousel-control-next-icon {
  display: none !important
}

.carousel-control-prev-icon {
  display: none !important
}


/* _____ ABOUT PAGE ______ */

.about-intro {
  font-size: 72px;
}

.email-link {
  color: #e1483d;
  transition: .5s;
}

.email-link:hover {
  color: black;
}

/* The social media links circles */
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 2px solid #e1483d;
  font-size: 16px;
  font-weight: bold;
  /* color: red; */
}

.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

ul.no-bullets li {
  margin-bottom: 1.5rem;
  font-weight: 600;
}



/* _______ SOLE OPINION ________ */

.sole-opinion-hero-section {
  height: 100vh;
  width: 100%;
  margin-top: calc(-1 * var(--navbar-height));
}

.sole-option-between-spacer {
  height: 8rem;
}


.sole-opinion-hero-section > div {
  opacity: 1
}

.sole-opinion-hero-section h1 {
  font-size: 4rem
}

/* Demographics custom black input */
.form-check-input:checked[type=radio] {
  background-color: black;
  background-image: none;
  border-color: black;
  box-shadow: none !important
}

.form-check-input[type=radio]:not(:checked) {
  border: 1px solid #000; /* 1px solid black */
}

.form-check-input[type=radio]:focus {
  outline: none;
  border: none;
}

.form-check-input[type=text]:focus {
  outline: none;
  border: none;
  box-shadow: none !important
}

.form-control[type=text]:focus {
  box-shadow: none;
  /* border-color: rgb(168, 168, 168) */
}

.shoe-text-input {
  border: none;
  font-size: 2rem;
  width: 100%;
  word-wrap: break-word;
  resize: none;
  height: 50vh;
  font-weight: 500;
}

textarea.shoe-text-input:focus {
  outline: none;
}

.react-sketch-canvas {
  width: 100%;
  height: 50vh
}


.dnd-item {
  user-select: none;
  padding: 8px;
  margin: 0 8px 0 0;
  /* background: lightgrey; */
  display: inline-block;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  /* width: 8rem; */
  text-align: center;
}

.dnd-list {
  display: flex;
  /* overflowX: auto; */
  padding: 8px;
}

.line {
  width: 100%;
  height: 1px; /* Set the height of the line */
  background-color: rgb(56, 56, 56); /* Line color */
}

.arrow-left, .arrow-right {
  width: 10px; /* Set the arrow width */
  height: 10px; /* Set the arrow height */
  background-color: black; /* Arrow color */
}

.arrow-left {
  left: 0;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.arrow-right {
  right: 0;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}


/* _______ MEDIA QUERIES _______ */

@media (min-width: 768px) { 
  .main-splash-letter {
    font-size: 8rem;
  }
  .sole-opinion-hero-section h1 {
    font-size: 8rem
  }
}

@media (min-width: 992px) { 

  .about-container {
    margin-left: 10rem;
    margin-right: 10rem;
  }

}

@media (min-width: 1200px) { 

  .main-splash-letter {
    font-size: 10rem;
  }
  .sole-opinion-hero-section h1 {
    font-size: 10rem
  }

}